<a href="https://colab.research.google.com/github/hatimdeve/python/blob/main/Handling_Categorical_Feature.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ordinal Number Encoding**

In [1]:
import datetime

In [2]:
today_date=datetime.datetime.today()
today_date

datetime.datetime(2022, 12, 29, 19, 41, 35, 298532)

In [3]:
#### List Comprehension
days=[today_date-datetime.timedelta(x) for x in range(0,15)]
days

[datetime.datetime(2022, 12, 29, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 28, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 27, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 26, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 25, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 24, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 23, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 22, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 21, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 20, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 19, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 18, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 17, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 16, 19, 41, 35, 298532),
 datetime.datetime(2022, 12, 15, 19, 41, 35, 298532)]

In [16]:
days[0].day_name()

AttributeError: ignored

In [4]:
import pandas as pd
data=pd.DataFrame(days)
data.columns=["Day"]
data.head()

                         Day
0 2022-12-29 19:41:35.298532
1 2022-12-28 19:41:35.298532
2 2022-12-27 19:41:35.298532
3 2022-12-26 19:41:35.298532
4 2022-12-25 19:41:35.298532

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Day              15 non-null     datetime64[ns]
 1   weekday          15 non-null     int64
 2   weekday_ordinal  0 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 488.0 bytes

In [15]:
data['weekday']=data['Day'].dt.day_name()
data.head()

                         Day    weekday  weekday_ordinal
0 2022-12-29 19:41:35.298532   Thursday              NaN
1 2022-12-28 19:41:35.298532  Wednesday              NaN
2 2022-12-27 19:41:35.298532    Tuesday              NaN
3 2022-12-26 19:41:35.298532     Monday              NaN
4 2022-12-25 19:41:35.298532     Sunday              NaN

In [17]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7
    
    
}

In [18]:
data['weekday_ordinal']=data['weekday'].map(dictionary)
data.head()

                         Day    weekday  weekday_ordinal
0 2022-12-29 19:41:35.298532   Thursday                4
1 2022-12-28 19:41:35.298532  Wednesday                3
2 2022-12-27 19:41:35.298532    Tuesday                2
3 2022-12-26 19:41:35.298532     Monday                1
4 2022-12-25 19:41:35.298532     Sunday                7

**Count Or Frequency Encoding**

In [20]:
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , header = None,index_col=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [21]:
columns=[1,3,5,6,7,8,9,13]
df=df[columns]
df.columns=['Employment','Degree','Status','Designation','family_job','Race','Sex','Country']
df.head()

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [22]:
for feature in df.columns[:]:
    print(feature,":",len(df[feature].unique()),'labels')

Employment : 9 labels
Degree : 16 labels
Status : 7 labels
Designation : 15 labels
family_job : 6 labels
Race : 5 labels
Sex : 2 labels
Country : 42 labels

In [23]:
country_map=df['Country'].value_counts().to_dict()

In [25]:
df['Country']=df['Country'].map(country_map)
df.head(20)

,Employment,Degree,Status,Designation,family_job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95
5,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,29170
6,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,81
7,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
8,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,29170
9,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
10,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,29170
11,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,100
12,Private,Bachelors,Never-married,Adm-clerical,Own-child,White,Female,29170
13,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,29170
14,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,583
15,Private,7th-8th,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,643
16,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,29170
17,Private,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,29170
18,Private,11th,Married-civ-spouse,Sales,Husband,White,Male,29170
19,Self-emp-not-inc,Masters,Divorced,Exec-managerial,Unmarried,White,Female,29170

**Advantages**
* Easy To Use
* Not increasing feature space

**Disadvantages**

* It will provide same weight if the frequencies are same

**Target Guided Ordinal Encoding**

* Ordering the labels according to the target
* Replace the labels by the joint probability of being 1 or 0

In [26]:
from google.colab import files
import io
uploaded =files.upload()

Saving titanic.csv to titanic.csv

In [27]:
import pandas as pd
df=pd.read_csv(io.BytesIO(uploaded['titanic.csv']),usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [28]:
df['Cabin'].fillna('Missing',inplace=True)
df['Cabin']=df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [29]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [30]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [31]:
ordinal_labels=df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [34]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [35]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_labels2)
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

**Mean Encoding**

In [36]:
mean_ordinal=df.groupby(['Cabin'])['Survived'].mean().to_dict()
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [37]:
df['mean_ordinal_encode']=df['Cabin'].map(mean_ordinal)
df.head()

   Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854

**Probability Ratio Encoding**

* Probability of Survived based on Cabin--- Categorical Feature
* Probability of Not Survived---1-pr(Survived)
* pr(Survived)/pr(Not Survived)
* Dictonary to map cabin with probability
* replace with the categorical feature

In [38]:
df=pd.read_csv(io.BytesIO(uploaded['titanic.csv']),usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [39]:
### Replacing
df['Cabin'].fillna('Missing',inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [40]:
df['Cabin']=df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [41]:
prob_df=df.groupby(['Cabin'])['Survived'].mean()

In [42]:
prob_df=pd.DataFrame(prob_df)
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [43]:
prob_df['Died']=1-prob_df['Survived']
prob_df.head()

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [44]:
prob_df['Probability_ratio']=prob_df['Survived']/prob_df['Died']
prob_df.head()

       Survived      Died  Probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [45]:
probability_encoded=prob_df['Probability_ratio'].to_dict()

In [46]:
df['Cabin_encoded']=df['Cabin'].map(probability_encoded)
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274